Source: opx-nas-l3
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev,libopx-common-dev (>= 1.4.0),
               libopx-nas-common-dev (>= 6.1.0),libopx-cps-dev (>= 3.6.2),libopx-logging-dev (>= 2.1.0),
               libopx-nas-linux-dev (>= 5.11.0),libopx-nas-ndi-dev, opx-ndi-api-dev (>= 7.5.0),
               libssl-dev,libsystemd-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-nas-l3
Vcs-Git: https://github.com/open-switch/opx-nas-l3.git

Package: libopx-nas-l3-1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libopx-nas-common1 ,libopx-common1 ,libopx-cps1 ,
        libopx-logging1 ,libopx-nas-linux1 ,libopx-nas-ndi1 
Description: This package contains base layer 3 functionality for the Openswitch software.

Package: libopx-nas-l3-dev
Architecture: any
Depends: ${misc:Depends},libopx-common-dev (>= 1.4.0),libopx-nas-common-dev (>= 6.1.0),
         libopx-cps-dev (>= 3.6.2),libopx-logging-dev (>= 2.1.0),libopx-nas-linux-dev (>= 5.11.0),
         libopx-nas-ndi-dev, opx-ndi-api-dev (>= 7.5.0),libopx-nas-l3-1 (=${binary:Version}),
         libopx-base-model-dev (>= 3.109.0)
Description: This package contains base layer 3 functionality for the Openswitch software.

Package: opx-nas-l3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opx-cps (>= 3.6.2), python-opx-cps (>= 3.6.2), python-netaddr
Description: This package contains base layer 3 functionality for the Openswitch software.
